:root {
  --main-bg-color: #ebebeb;
  --main-border-color: #878787;
  --secondary-bg-color: #24282b;
}

body {
  margin: 0;
  padding: 0;
}

h1,
p,
h4 {
  margin: 0;
}

nav,
footer {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.banner {
  color: white;
  background-color: var(--secondary-bg-color);
  text-align: center;
  padding: 0.25em 0;
  margin-bottom: 0.75em;
  letter-spacing: 0.0625em;
}

.account {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  font-size: smaller;
}

.account div {
  flex: 1;
}

.account div:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.account div img {
  height: 40px;
}

.account div p:first-of-type {
  padding-right: 1em;
}
.navigation {
  width: 52%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation div img {
  height: 20px;
  padding-right: 0.5em;
}

.body {
  width: 50%;
  position: relative;
  margin: 3em auto;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  border-top: none;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      var(--main-border-color),
      rgba(0, 0, 0, 0)
    )
    1 100%;
  padding: 0.5em 0.75em 2em 0.75em;
}

.body::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 1px;
  bottom: 0px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      var(--main-border-color) 50%
    )
    100% 1;
}
.main {
  text-align: center;
  padding: 3em 0;
  background-image: url(./images/mainBack.jpg);
  background-repeat: no-repeat;
  background-size: 67%;
  background-position: center;
  margin-bottom: 1.5em;
}

.main img {
  height: 80px;
  margin-bottom: 1em;
}

.main p {
  margin-bottom: 3em;
}

.main button {
  background: black;
  color: white;
  padding: 1em 2em;
  font-size: xx-small;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  border: none;
  width: 14%;
  white-space: nowrap;
}

.main button:first-of-type {
  margin-right: 2em;
}
.recentlyViewedTitle {
  padding: 0.5em 1em;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) -2%,
    var(--main-bg-color) 8%,
    var(--main-bg-color) 89%,
    rgba(0, 0, 0, 0) 100%
  );
  margin-bottom: 1em;
}

.recentlyViewed {
  display: flex;
  align-items: stretch;
  height: 50%;
}

.item {
  position: relative;
  border-top: 2px solid var(--main-border-color);
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
  box-sizing: border-box;
  padding: 1em 0.5em;
  border-bottom: 2px solid var(--main-border-color);
}

.item:before,
.item:after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    var(--main-border-color) 50%,
    transparent 100%
  );
  top: -2px;
  bottom: -3px;
  width: 2px;
}

.item:before {
  left: -2px;
}
.item:after {
  right: -2px;
}

.item:last-of-type {
  margin-right: 0;
}

.item img {
  width: 80%;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 1em;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: smaller;
}

.itemDetails > p {
  margin-bottom: 1em;
}

.itemPrice {
  display: flex;
  padding: 0.25em 1em;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) -2%,
    var(--main-bg-color) 8%,
    var(--main-bg-color) 89%,
    rgba(0, 0, 0, 0) 100%
  );
}

.itemPrice p {
  font-weight: bold;
  padding-right: 1em;
}

.sale {
  text-decoration: line-through;
}

footer {
  display: flex;
  padding: 1em;
  background-color: var(--secondary-bg-color);
  color: white;
  align-items: center;
  letter-spacing: 0.0625em;
}

footer p {
  text-align: center;
  flex: 1;
}

.chatWrapper {
  flex: 2;
  justify-content: flex-end;
}

.chatWrapper button {
  display: flex;
  align-items: center;
  background: #c9c9c7;
  border: 0;
  border-radius: 2em;
  padding: 0.5em 1em;
  margin-left: auto;
}

.chatWrapper button img {
  height: 20px;
  margin-right: 0.25em;
}
